<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js x Node.js</title>
    <link rel="stylesheet" href="./assets/style/stile.css">
    <!-- Cerco su Vue.js installation lo script di uso-->
   
    
</head>
 <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
    <!-- Questo div poi lo richiameremo nel #app.js-->
    <div id="app">


        <p> Questa pagina non ha niente</p>

        <!--Richiamo il valore di una funzioni di app.js con {{ context}}-->
        <!--Con v-for paccio più paragrafi per più elementi per poi richiamare i valori con i.variabile i = libro-->
        <p v-for="libro in books" v-if="showBook"> 
            

            <!-- Utilizzo v-bind:src per immagini/contenuti 
             si può usare anche in alternativa solo :src="esempio"-->
            <img v-bind:src="libro.img" alt="immagini"><br>

            
            {{libro.titolo}} - {{libro.autore}} - {{numerolettori}}</p>

        <!--Richiamo invece usa una funzione con @click -->
        <button @click="numerolettori++"> Aumenta il numero di lettori</button>
        <br><br>
        <button @click="CambiaTitolo">Cambia il titolo</button>
        <br><br>
        <!--Utilizzo span con v-if e v- else per dire quando deve attivare -->
        <!--il titolo e quando lo deve disattivare. if e else ma con il tag -->
        <button @click="ToggleShowBook">
            <span v-if="!showBook">Visualizza</span>
            <span v-else="showBook">Nacondi</span>
        </button>
        <br><br>

        <!-- uso v-model per cambiare il valore proprio e diretto velocemente-->
        <form>
            <input type="number" v-model="num1">
        </form>

        <p v-if="num1">{{num1}}</p>


        <br>
        <!-- Utilizzo i tag mouse over ecc.. e li modifico per le variabili -->
        <div class="box" @mouseover="handleEvent">Ciao</div>
        <div class="box" @mouseover="handleEventmove">{{x}} {{y}}</div>
        <div class="box" @mousemove="handleEventmove">{{x}} {{y}}</div>
    </div>


   




<script src="app.js"></script>
    
</body>
</html>